dify/url2discord.yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: url2discord
workflow:
  features:
    file_upload:
      image:
        enabled: true
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1715630198408-source-1717668631551-target
      source: '1715630198408'
      sourceHandle: source
      target: '1717668631551'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1717668631551-source-1715630532562-target
      source: '1717668631551'
      sourceHandle: source
      target: '1715630532562'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1718748142606-source-1715630198408-target
      source: '1718748142606'
      sourceHandle: source
      target: '1715630198408'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1715581183534-source-1718748427101-target
      source: '1715581183534'
      sourceHandle: source
      target: '1718748427101'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: tool
      id: 1718748427101-source-1718748142606-target
      source: '1718748427101'
      sourceHandle: source
      target: '1718748142606'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: true
        title: "\u958B\u59CB"
        type: start
        variables:
        - label: url
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: url
        - label: discord_webhook
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: discord_webhook
        - label: language
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: language
      height: 141
      id: '1715581183534'
      position:
        x: 30
        y: 270.5
      positionAbsolute:
        x: 30
        y: 270.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0
            top_p: 1
          mode: chat
          name: gemini-1.5-flash-latest
          provider: google
        prompt_template:
        - id: 29276f14-ec2a-45c5-b510-ff4bafdb3c56
          role: system
          text: "\u3042\u306A\u305F\u306B\u306F\u96E3\u3057\u3044\u6587\u7AE0\u3092\
            \u308F\u304B\u308A\u3084\u3059\u304F\u89E3\u8AAC\u3059\u308B\u3053\u3068\
            \u304C\u53EF\u80FD"
        - id: 9561dd7a-579d-4d2e-90d4-a252beaf8c58
          role: user
          text: "\u3042\u306A\u305F\u306B\u306F\u96E3\u3057\u3044\u6587\u7AE0\u3092\
            \u308F\u304B\u308A\u3084\u3059\u304F\u89E3\u8AAC\u3059\u308B\u30BF\u30B9\
            \u30AF\u304C\u4E0E\u3048\u3089\u308C\u3066\u3044\u307E\u3059\u3002\n\n\
            \u4EE5\u4E0B\u306E <difficult_text> \u30BF\u30B0\u5185\u306B\u3042\u308B\
            \u6587\u7AE0\u3092\u6CE8\u610F\u6DF1\u304F\u8AAD\u307F\u3001\u5185\u5BB9\
            \u3092\u7406\u89E3\u3057\u3066\u304F\u3060\u3055\u3044\u3002\n\u307E\u305F\
            \u3001\u753B\u50CF\u304C\u542B\u307E\u308C\u3066\u3044\u308B\u3068\u304D\
            \u306F\u3001\u753B\u50CF\u3068\u5408\u308F\u305B\u3066\u5185\u5BB9\u3092\
            \u7406\u89E3\u3057\u3066\u304F\u3060\u3055\u3044\n<difficult_text>\n{{#1718748142606.text#}}\n\
            </difficult_text>\n<language>\n\u65E5\u672C\u8A9E\n</language>\n\u3053\
            \u306E\u6587\u7AE0\u306E\u4E3B\u8981\u306A\u30DD\u30A4\u30F3\u30C8\u3068\
            \u91CD\u8981\u306A\u6982\u5FF5\u3092\u660E\u78BA\u306B\u3057\u3001\u7B87\
            \u6761\u66F8\u304D\u306B\u3057\u3066\u304F\u3060\u3055\u3044\u3002\n\n\
            \u6B21\u306B\u3001\u305D\u308C\u305E\u308C\u306E\u4E3B\u8981\u30DD\u30A4\
            \u30F3\u30C8\u306B\u3064\u3044\u3066\u3001\u30B7\u30F3\u30D7\u30EB\u3067\
            \u308F\u304B\u308A\u3084\u3059\u3044\u8A00\u8449\u3067\u8AAC\u660E\u3057\
            \u3066\u304F\u3060\u3055\u3044\u3002\u8907\u96D1\u306A\u8003\u3048\u3092\
            \u660E\u78BA\u306B\u3059\u308B\u305F\u3081\u306B\u3001\u4F8B\u3048\u3084\
            \u985E\u63A8\u3092\u4F7F\u3046\u3088\u3046\u306B\u3057\u3066\u304F\u3060\
            \u3055\u3044\u3002\u5C02\u9580\u7528\u8A9E\u3084\u30B8\u30E3\u30FC\u30B4\
            \u30F3\u304C\u3042\u308B\u5834\u5408\u306F\u5B9A\u7FA9\u3092\u793A\u3057\
            \u3066\u304F\u3060\u3055\u3044\u3002 \n\n\u6700\u5F8C\u306B\u3001\u6587\
            \u7AE0\u5168\u4F53\u306E\u610F\u5473\u3068\u542B\u610F\u3092\u8981\u7D04\
            \u3057\u3001\u3055\u3089\u306B\u7406\u89E3\u3092\u6DF1\u3081\u308B\u305F\
            \u3081\u306E\u826F\u8CEA\u306A\u554F\u3044\u30923\u3064\u4E0A\u3052\u3066\
            \u304F\u3060\u3055\u3044\u3002\n\n\u8AAC\u660E\u306F <explanation> \u30BF\
            \u30B0\u5185\u306B\u66F8\u3044\u3066\u304F\u3060\u3055\u3044\u3002\u6587\
            \u7AE0\u3092\u7406\u89E3\u3057\u3084\u3059\u304F\u3059\u308B\u305F\u3081\
            \u306B\u3001\u6BB5\u843D\u5206\u3051\u3092\u9069\u5207\u306B\u884C\u3063\
            \u3066\u304F\u3060\u3055\u3044\u3002\n"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: '1715630198408'
      position:
        x: 942
        y: 270.5
      positionAbsolute:
        x: 942
        y: 270.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1715630198408'
          - text
          variable: result
        - value_selector:
          - '1716881461348'
          - output
          variable: raw_content
        - value_selector:
          - '1715581183534'
          - url
          variable: url
        selected: false
        title: "\u7D42\u4E86"
        type: end
      height: 141
      id: '1715630532562'
      position:
        x: 1550
        y: 270.5
      positionAbsolute:
        x: 1550
        y: 270.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(message: str,webhook:str) -> dict:\n    import requests\n\
          \    import json\n    from datetime import datetime\n    url = webhook\n\
          \n    message = message[:2000] # \u6587\u5B57\u6570\u306E\u6700\u5927\u5024\
          \u304C\u3042\u308B\u3063\u307D\u3044\n    headers = {\n        \"Content-Type\"\
          : \"application/json\",\n    }\n\n    body = {\n        'content':message\n\
          \    }\n\n    response = requests.post(url, headers=headers, data=json.dumps(body))\n\
          \n    if response.status_code == 204 or response.status_code == 200 :\n\
          \        return {\n            \"result\": str(response),\n        }\n \
          \   else:\n        print(f\"Error post for discord: {response}\")\n    \
          \    return {\n            \"result\": \"error\",\n        }"
        code_language: python3
        dependencies:
        - name: requests
          version: ''
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: "\u30B3\u30FC\u30C9"
        type: code
        variables:
        - value_selector:
          - '1715630198408'
          - text
          variable: message
        - value_selector:
          - '1715581183534'
          - discord_webhook
          variable: webhook
      height: 53
      id: '1717668631551'
      position:
        x: 1246
        y: 270.5
      positionAbsolute:
        x: 1246
        y: 270.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: searchapi
        provider_name: searchapi
        provider_type: builtin
        selected: false
        title: YouTube Transcripts API
        tool_configurations: {}
        tool_label: YouTube Transcripts API
        tool_name: youtube_transcripts_api
        tool_parameters:
          language:
            type: mixed
            value: '{{#1715581183534.language#}}'
          video_id:
            type: mixed
            value: '{{#1718748427101.result#}}'
        type: tool
      height: 53
      id: '1718748142606'
      position:
        x: 638
        y: 270.5
      positionAbsolute:
        x: 638
        y: 270.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(url: str) -> dict:\n    import re\n\n    # \u6B63\u898F\u8868\
          \u73FE\u30D1\u30BF\u30FC\u30F3\u3092\u4F7F\u7528\u3057\u3066\u30D3\u30C7\
          \u30AAID\u3092\u62BD\u51FA\n    video_id_pattern = r\"(?<=youtu\\.be\\/)[a-zA-Z0-9_-]+\"\
          \n    match = re.search(video_id_pattern, url)\n\n    if match:\n      \
          \  video_id = match.group()\n        print(\"Video ID:\", video_id)\n  \
          \      return {\n            \"result\": video_id,\n        }\n    else:\n\
          \        print(\"Video ID not found.\")\n        return {\n            \"\
          result\": \"Video ID not found\",\n        }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: "\u30B3\u30FC\u30C9 2"
        type: code
        variables:
        - value_selector:
          - '1715581183534'
          - url
          variable: url
      height: 53
      id: '1718748427101'
      position:
        x: 334
        y: 270.5
      positionAbsolute:
        x: 334
        y: 270.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 127.84408761123927
      y: 529.5734652365028
      zoom: 0.2871745887492588
